header{
    height: 135px;
    .header-top{
        height: 48px;
        background: #333;
        font-size: 14px;
        .nav{
            width: 1080px;
            height: 48px;
            margin: 0 auto;
            // 导航栏
            ul{
                width: 480px;
                height: 48px;
                float: right;
                li{
                    float: left;
                    text-align: center;
                    height: 48px;
                    line-height: 48px;
                    margin-left: 13px;
                    a{color:#e7e7e7;}
                    a:hover{color:#fff;}
                    .in-out{float: left;}
                    .in-out .login,.out{margin-left: 6px;}
                    .xia{margin-left: 10px; margin-right: 20px;}
                    .down{
                        margin-right: 8px;
                    }
                    .line{
                        margin-left: 13px;
                        color: #666;
                    }
                }
                .menu-hidden{
                    width: 170px;
                    display: none;
                    height: 70px;
                    background: #fff;
                    position: relative;
                    left: -15px;
                    a{
                        float: left;
                        width: 170px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 14px;
                        color: #666;
                        box-shadow: 0 3px 70px rgba(0,0,0,.1);
                    }
                    a:hover{
                        background: #865c30;
                        color: #fff;
                    }
                }
                .menu:hover .menu-hidden{display: block;}
            }    
        }
    }
    .header-bottom{
        height: 51px;
        padding-top: 20px;
        margin-bottom: 5px;
        background-color: #fff;
        .bottom-container{
            width: 1080px;
            height: 51px;
            margin: 0 auto;
            .bottom-logo{
                width: 120px;
                height: 50px;
                float: left;
            }
            a:hover{color:#865c30}
            .flash-sale{
                font-size: 18px;
                line-height: 57px;
                height: 51px;
                color: #666;
                float: left;
                margin-left: 144px;
            }
            .flash-in{
                font-size: 18px;
                line-height: 57px;
                height: 51px;
                color: #666;
                float: left;
                margin-left: 35px;
            }
            .shop{
                float: right;
                width: 18px;
                height: 18px;
                margin: 25px 12px 10px 25px;
            }
            .search{
                width: 280px;
                height: 42px;
                float: right;
                border-bottom: 1px solid #e7e7e7;
                img{
                    width: 18px;
                    height: 18px;
                    margin-top: 15px;
                }
                .search-input{
                    width: 245px;
                    height: 32px;
                    line-height: 32px;
                    float: right;
                    color:#ccc;
                    input{
                        width: 245px;
                        height: 32px;
                        border: none;
                        color: #333;
                        font-size: 14px;
                        outline: 0;
                        margin-top: 10px;
                    }
                }
            } 
        }
    }
}


