@import "module/base.scss";
@import "module/footer.scss";
@import "module/header.scss";

main{
    width: 1080px;
    height: 1050px;
    margin: 0 auto;
    .banner-nav{
        width: 1080px;
        height: 358px;
        margin: 0 auto;
        .nav-container{
            height: 338px;
            width: 221px;
            background-color: #845f3f;
            padding: 10px 0;
            float: left;
            .nav-list .item:hover{
                background: #684b34;
                color: #f1ede9;
            }
            .nav-list .item a:hover{
                color: #e4af82;
                cursor: pointer;
            }
            .nav-list{
                overflow: hidden;
                .item{
                    width: 165px;
                    height: 37px;
                    padding: 0 30px;
                    line-height: 37px;
                    color: #fff;
                    font-size: 14px;
                    transition: all .2s ease;
                    text-align: left;
                    a{color: #fff;}
                }
            }
        }
        .banner{
            position: relative;
            width: 859px;
            height: 358px;
            float: left;
            .banner-container{
                position: relative;
                overflow: hidden;
                margin: 0 auto; 
                z-index: 2;
                .banner-wrapper{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    display: flex;
                    box-sizing: content-box;
                    transform: translate3d(0px, 0px, 0px);
                    // transition-duration: 800ms;
                    animation: play 10s infinite;

                    @keyframes play{
                        0%{
                            transform:translateX(0px);
                        }
                        25%{
                            transform:translateX(-859px);
                        }
                        50%{
                            transform:translateX(-1718px);
                        }
                        75%{
                            transform:translateX(-2577px)
                        }
                        100%{
                            transform:translateX(-3436px)
                        }
                        
                    }
        
                    .banner-slide img{
                        height: 358px;
                        vertical-align: middle;
                        border: none;
                    }
                }
            }
        }
    }
    .list{
        width: 1080px;
        height: 170px;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
        ul{
            width: 1080px;
            height: 158px;
            margin: 0 auto;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
             li{
                 width: 130px;
                 height: 158px;
                div{
                     width: 130px;
                     height: 120px;
                     img{
                        width: 80px;
                        height: 80px;
                        vertical-align: middle;
                        margin-top: 40px;
                        margin-left: 25px;
                    }
                }
                p{
                    text-align: center;
                    margin-top: 15px;
                    a{
                        font-size: 14px;
                        color: #666;
                    }
                }
                
            }
         }
    }
    .new{
        width: 1080px;
        height: 460px;
        margin: 0 auto;
        margin-top: 60px;
            .title{
                height: 37px;
                position: relative;
                margin-bottom: 20px; 
                h2{
                    color: #333;
                    font-size: 28px;
                    font-weight: 400;
                    span{
                        margin-left: 12px;
                        font-size: 14px;
                        color: #999;
                    }
                }
                .more{
                    position: absolute;
                    right: 0;
                    top: 6px;
                    height: 30px;
                    color: #999;
                    cursor: pointer;
                    span{
                        position: relative;
                        bottom: 9px;
                        font-size: 14px;
                    }
                    .icons{
                        width: 30px;
                        height: 30px;
                        background-position: 0 -1118px;
                        display: inline-block;
                        background-image: url(https://shop.io.mi-img.com/static/h5/static3/media/yp-icons.2bf57ccf.png); 
                    }
                    .more:hover{color:#845f3f}
            }
        }
        .list-container{
            width: 1080px;
            height: 375px;
            margin: 0 auto;
            box-sizing: content-box;
            display: flex;
            justify-content: space-between;
            .list-box{
                width: 266px;
                height: 375px;
                float: left;
                text-align: center;
                img{
                    width: 266px;
                    height: 266px;
                    text-align: center;
                    float: left;
                }
                .common-box{
                    width: 266px;
                    height: 109px;
                    float: left;
                    .info{
                        color: #333;
                        margin-top: 8px;
                        font-size: 19px;
                        line-height: 23px;
                        height: 23px;
                    }
                    .desc{
                        color: #666;
                        font-size: 14px;
                        line-height: 18px;
                        height: 18px;
                        margin-top: 8px;
                    }
                    .price{
                        margin-top: 11px;
                        height: 26px;
                        line-height: 26px;
                        color: #a92112;
                    }
                }
            }
        }
    }
}